


a{
    text-decoration: none;
    color: #fff;
}



.top-section{
    height: calc(100vh - 90px);
}
.bottom-section{
    height: 90px;
}






main .upgrade{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
}
main .filters{
    padding-top: 90px;
}
main .recents{
    padding: 5px;
}
.recents > h2{
    padding: 5px;
}
img{
    max-width: 100%;
}

.album{
    max-width: calc(100% / 2);
    padding: 5px;
}


main{
    position: relative;
    overflow: auto;
    height: calc(100vh - 90px);
}



nav{
    background-color: black;
    color: white;
}

main{
    background-color: #141922;
    color: white;
}

footer{
    background-color: grey;
}





.filters{

    justify-content: center;
}