

.top-section{
    height: calc(100vh - 90px);
}
.bottom-section{
    height: 90px;
}


nav{
    background-color: black;
    color: white;
}

main{
    background-color: darkblue;
    color: white;
}

footer{
    background-color: grey;
}